# Import Libaries

In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

# Load Dataset

In [2]:
df=pd.read_excel("Total_Vaccinations.xlsx")

# Data Exploration

In [3]:
df.head()

,iso_code,continent,location,date,population,population_density,positive_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations
0,AFG,Asia,Afghanistan,2020-02-24,39835428.0,54.422,NaN,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,39835428.0,54.422,NaN,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,39835428.0,54.422,NaN,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,39835428.0,54.422,NaN,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,39835428.0,54.422,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114466 entries, 0 to 114465
Data columns (total 11 columns):
iso_code                   114466 non-null object
continent                  109203 non-null object
location                   114466 non-null object
date                       114466 non-null datetime64[ns]
population                 113675 non-null float64
population_density         106085 non-null float64
positive_rate              55780 non-null float64
total_vaccinations         24327 non-null float64
people_vaccinated          23248 non-null float64
people_fully_vaccinated    20237 non-null float64
new_vaccinations           20176 non-null float64
dtypes: datetime64[ns](1), float64(7), object(3)
memory usage: 9.6+ MB

In [5]:
df.describe()

,population,population_density,positive_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations
count,1.136750e+05,106085.000000,55780.000000,2.432700e+04,2.324800e+04,2.023700e+04,2.017600e+04
mean,1.236531e+08,394.337218,0.087626,5.687014e+07,3.021152e+07,1.752555e+07,8.115953e+05
std,6.800076e+08,1836.231094,0.097109,3.187525e+08,1.715423e+08,9.996292e+07,3.777313e+06
min,4.700000e+01,0.137000,0.000000,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00
25%,2.082661e+06,36.253000,0.016000,2.104800e+05,1.666258e+05,8.422300e+04,5.524000e+03
50%,9.634162e+06,83.479000,0.051000,1.606472e+06,1.064327e+06,6.872160e+05,3.216300e+04
75%,3.393576e+07,209.588000,0.127000,9.949004e+06,5.753758e+06,4.266737e+06,1.817920e+05
max,7.874966e+09,20546.766000,0.970000,5.492352e+09,3.183014e+09,2.183020e+09,5.623841e+07

In [6]:
df.describe(include="all")

,iso_code,continent,location,date,population,population_density,positive_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations
count,114466,109203,114466,114466,1.136750e+05,106085.000000,55780.000000,2.432700e+04,2.324800e+04,2.023700e+04,2.017600e+04
unique,233,6,233,614,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,ARG,Africa,Peru,2021-07-13 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,614,29191,614,228,NaN,NaN,NaN,NaN,NaN,NaN,NaN
first,NaN,NaN,NaN,2020-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,2021-09-05 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,1.236531e+08,394.337218,0.087626,5.687014e+07,3.021152e+07,1.752555e+07,8.115953e+05
std,NaN,NaN,NaN,NaN,6.800076e+08,1836.231094,0.097109,3.187525e+08,1.715423e+08,9.996292e+07,3.777313e+06
min,NaN,NaN,NaN,NaN,4.700000e+01,0.137000,0.000000,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00
25%,NaN,NaN,NaN,NaN,2.082661e+06,36.253000,0.016000,2.104800e+05,1.666258e+05,8.422300e+04,5.524000e+03
50%,NaN,NaN,NaN,NaN,9.634162e+06,83.479000,0.051000,1.606472e+06,1.064327e+06,6.872160e+05,3.216300e+04
75%,NaN,NaN,NaN,NaN,3.393576e+07,209.588000,0.127000,9.949004e+06,5.753758e+06,4.266737e+06,1.817920e+05
max,NaN,NaN,NaN,NaN,7.874966e+09,20546.766000,0.970000,5.492352e+09,3.183014e+09,2.183020e+09,5.623841e+07

In [7]:
df.shape

(114466, 11)

# Data cleaning

## Find missing values

In [22]:
col=df.columns

In [12]:
for i in col:
    print(df[i].isnull().value_counts())
    print("")

False    114466
Name: iso_code, dtype: int64

False    109203
True       5263
Name: continent, dtype: int64

False    114466
Name: location, dtype: int64

False    114466
Name: date, dtype: int64

False    113675
True        791
Name: population, dtype: int64

False    106085
True       8381
Name: population_density, dtype: int64

True     58686
False    55780
Name: positive_rate, dtype: int64

False    114466
Name: total_vaccinations, dtype: int64

False    114466
Name: people_vaccinated, dtype: int64

False    114466
Name: people_fully_vaccinated, dtype: int64

False    114466
Name: new_vaccinations, dtype: int64

## Replace missing values with `0`

In [11]:
lst=['total_vaccinations','people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations']
for i in lst:
    df[i].fillna(0,inplace=True)

## Copy dataset

In [16]:
data=df[['continent', 'location', 'date', 'population', 'total_vaccinations',
         'people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations']].copy()

## drop missing values which no required

In [17]:
data.dropna(axis=0,inplace=True)

## Verify changes

In [19]:
data.shape

(108989, 8)

In [25]:
data.to_csv("covid_vaccination.csv")