# Language and Database Dataset

# Import Libaries

In [2]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

# Load Dataset

In [3]:
df=pd.read_csv("m5_survey_data_technologies_normalised.csv")

# Finding Missing values

In [4]:
df.head()

,Respondent,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4.0,C,C,MySQL,MySQL,Linux,Linux,NaN,NaN,Eclipse,NaN,NaN,NaN,NaN
2,4.0,C++,C#,SQLite,SQLite,Windows,Windows,NaN,NaN,Vim,NaN,NaN,NaN,NaN
3,4.0,C#,JavaScript,NaN,NaN,NaN,NaN,NaN,NaN,Visual Studio,NaN,NaN,NaN,NaN
4,4.0,Python,SQL,NaN,NaN,NaN,NaN,NaN,NaN,Visual Studio Code,NaN,NaN,NaN,NaN

In [5]:
col=df.columns
col

Index(['Respondent', 'LanguageWorkedWith', 'LanguageDesireNextYear',
       'DatabaseWorkedWith', 'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs'],
      dtype='object')

# Check for Missing values by using `isnull()`

In [6]:
df.shape

(74590, 14)

In [7]:
df.isnull().sum()

Respondent                    1
LanguageWorkedWith        14798
LanguageDesireNextYear    18826
DatabaseWorkedWith        43215
DatabaseDesireNextYear    45015
PlatformWorkedWith        35382
PlatformDesireNextYear    30276
WebFrameWorkedWith        49787
WebFrameDesireNextYear    50023
DevEnviron                41284
OpSys                     74590
Containers                74590
BlockchainOrg             74590
BlockchainIs              74590
dtype: int64

# Copy required columns of dataset

In [8]:
data=df[['Respondent', 'LanguageWorkedWith', 'LanguageDesireNextYear',
       'DatabaseWorkedWith', 'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'DevEnviron']].copy()

In [9]:
data.shape

(74590, 10)

# Dataset has around 40% missing values 
So, Drop the missing columns

In [10]:
data.dropna(inplace=True)

# `Data Exploration` on cleaned data

In [11]:
data.head()

,Respondent,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,DevEnviron
6,9.0,Bash/Shell/PowerShell,Bash/Shell/PowerShell,DynamoDB,PostgreSQL,AWS,AWS,Express,Express,Vim
17,13.0,Bash/Shell/PowerShell,Bash/Shell/PowerShell,Couchbase,Firebase,Android,Android,Angular/Angular.js,Express,Vim
18,13.0,HTML/CSS,HTML/CSS,DynamoDB,MySQL,AWS,AWS,ASP.NET,Vue.js,Visual Studio
34,17.0,Bash/Shell/PowerShell,Bash/Shell/PowerShell,MongoDB,Elasticsearch,Arduino,Docker,Angular/Angular.js,Angular/Angular.js,IntelliJ
40,19.0,C#,HTML/CSS,DynamoDB,DynamoDB,Android,AWS,Angular/Angular.js,Express,Vim

In [12]:
data.describe()

         Respondent
count  11984.000000
mean   12448.034630
std     7205.248295
min        9.000000
25%     6251.000000
50%    12371.500000
75%    18748.500000
max    25141.000000

In [13]:
data.describe(include="all")

,Respondent,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,DevEnviron
count,11984.000000,11984,11984,11984,11984,11984,11984,11984,11984,11984
unique,NaN,26,28,14,14,17,17,13,13,21
top,NaN,Bash/Shell/PowerShell,Bash/Shell/PowerShell,Microsoft SQL Server,Elasticsearch,AWS,AWS,Angular/Angular.js,Angular/Angular.js,IntelliJ
freq,NaN,3200,2255,2304,1924,2449,2873,2724,2560,1677
mean,12448.034630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,7205.248295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,9.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,6251.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,12371.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,18748.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,25141.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11984 entries, 6 to 74573
Data columns (total 10 columns):
Respondent                11984 non-null float64
LanguageWorkedWith        11984 non-null object
LanguageDesireNextYear    11984 non-null object
DatabaseWorkedWith        11984 non-null object
DatabaseDesireNextYear    11984 non-null object
PlatformWorkedWith        11984 non-null object
PlatformDesireNextYear    11984 non-null object
WebFrameWorkedWith        11984 non-null object
WebFrameDesireNextYear    11984 non-null object
DevEnviron                11984 non-null object
dtypes: float64(1), object(9)
memory usage: 1.0+ MB

In [15]:
data.shape

(11984, 10)

# Save Dataset

In [16]:
data.to_csv("lang_database.csv")